"*":
  core:
    audioBeep: false
    customFileTypes:
      "source.js": [
        "ts"
      ]
    disabledPackages: [
      "atom-jshint"
      "parcel"
      "grunt-runner"
      "exception-reporting"
    ]
    ignoredNames: [
      ".sass-cache"
      ".DS_Store"
      "node_modules"
      ".css.map"
      ".js.map"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showInvisibles: true
  "file-icons":
    onChanges: true
  "fuzzy-finder":
    ignoredNames: [
      "vendor"
      "node_modules"
    ]
    preserveLastSearch: true
    useAlternateScoring: true
  "git-diff":
    showIconsInEditorGutter: true
  "grunt-runner":
    gruntPaths: [
      "/usr/local/bin"
    ]
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    errorPanelHeight: 24
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "open-recent": {}
  pigments:
    sassShadeAndTintImplementation: "bourbon"
  "seti-syntax":
    dynamicColor: false
    themeColor: "Green"
  "svg-preview":
    openPreviewAutomatically: true
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
    sortFoldersBeforeFiles: false
    squashDirectoryNames: true
  "unity-ui":
    showIcons: true
  welcome:
    showOnStartup: false
