"*":
  "atom-ide-ui":
    use: {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.js": [
        "ts"
      ]
    disabledPackages: [
      "atom-jshint"
      "parcel"
      "grunt-runner"
      "exception-reporting"
      "autocomplete-wordpress-hooks"
      "linter"
      "Sublime-Style-Column-Selection"
    ]
    ignoredNames: [
      ".sass-cache"
      ".DS_Store"
      "node_modules"
      ".css.map"
      ".js.map"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/nate8974/Documents/Source"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Hasklig,Source Code Pro"
    invisibles: {}
    showInvisibles: true
  "file-icons":
    coloured: false
  "fuzzy-finder":
    ignoredNames: [
      "vendor"
      "node_modules"
    ]
    preserveLastSearch: true
    useAlternateScoring: true
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
  "git-diff":
    showIconsInEditorGutter: true
  "grunt-runner":
    gruntPaths: [
      "/usr/local/bin"
    ]
  hasklig:
    fontWeight: "light"
  "highlight-line":
    hideHighlightOnSelect: true
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    panelHeight: 56
  "open-recent": {}
  pigments:
    dismissableReloadNotifications: false
    notifyReloads: false
    sassShadeAndTintImplementation: "bourbon"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    useEslint: true
  "project-manager":
    alwaysOpenInSameWindow: true
    environmentSpecificProjects: true
    showPath: false
    sortBy: "group"
  "project-plus":
    notifications: false
  "seti-syntax":
    dynamicColor: false
    themeColor: "Green"
  "seti-ui":
    compactView: true
    displayIgnored: false
    fileIcons: false
    font: "Default Atom Font"
    themeColor: "Purple"
  "svg-preview": {}
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
    sortFoldersBeforeFiles: false
    squashDirectoryNames: true
  "unity-ui":
    showIcons: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 7
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".gfm.source":
  whitespace:
    ensureSingleTrailingNewline: false
".svg.text.xml":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: true
