"*":
  core:
    audioBeep: false
    disabledPackages: [
      "atom-jshint"
      "parcel"
      "grunt-runner"
    ]
    ignoredNames: [
      ".scss"
      ".sass-cache"
      ".DS_Store"
      "node_modules"
      ".css.map"
      ".js.map"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "native-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showInvisibles: true
  "fuzzy-finder":
    ignoredNames: [
      "vendor"
      "node_modules"
    ]
    preserveLastSearch: true
    useAlternateScoring: true
  "grunt-runner":
    gruntPaths: [
      "/usr/local/bin"
    ]
  linter:
    errorPanelHeight: 24
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "open-recent": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
    sortFoldersBeforeFiles: false
    squashDirectoryNames: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
